@import 'vars.scss' ;
@import 'mixins.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font700;
    text-align: center;
   
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px;
    height: 100%;

}
header {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/bg-masthead.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .greeting {
            font-weight: 700;
            font-size: 5.5rem;
        }
        .sub-greeting{
            font-weight: 700;
            font-size: 1.75rem;
            font-style: italic;
            margin-bottom: 30px;
        }
        button {
            @include my-button($salad ,rgb(22, 96, 119)) ;
           
        }
    }
}
.sub-header {
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding : 50px 0;
        h2
        {
                font-size: calc(1.325rem + 0.9vw);
        }
        p {
            font-weight: 300;
            font-size: 20px ;
            a{
                color: #1d809f;
            }
        }
        button {
             @include my-button(rgb(33,37,41),#424649) ;
        }

    }
}
.services {
    width: 100%;
    background-color: $salad;
    .container {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: rgb(236,184,7);
            font-weight: 700;
            font-size: 16px;
        }
        h2 {
            font-size: 48px;
            font-weight: 700;
            color: white;
        }
        .flex-container {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: baseline;
            max-width: 1272px;
            width: 100%;
            .flex-item {
                // height: 185px !important;
                display: flex;
                width: 25%;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
                gap: 10px;
                
               
                .icon-container{
                    width: 112px;
                    height: 112px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 40px;
                        color: $salad;
                    }
                }
                strong {
                    font-size: 24px;
                    font-weight: 900;
                    color: white    ;

                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }

        }
        
    }
}

.welcome-next-site {
    width: 100%;
    height:600px;
    background-image: url('./assets/bg-callout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        h2 {
            font-size: 56px;
            font-weight: 700;

        }
        button {
            @include my-button($salad ,rgb(22, 96, 119))
        }
    }

}

.portfolio
{
    .container {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h3 {
            color: $gold;
            font-size: 16px;
            font-weight: 700;
        }
        h2 {
            font-size: 48px;
            font-weight: 700;   
        }
        .projects {
            width: 100%;
            max-width: 1224px;
            display: flex;
            flex-wrap: wrap;
            
            
            .project {
                width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 20px;
                cursor: pointer;
                .text {
                    z-index: 9;
                    position: absolute;
                    bottom: 70px;
                    left: 70px;
                    h2 {
                        font-size: 12.5px;
                        color: white;
                        font-weight: 700;
                        text-align: left;
                    }
                    p {
                        font-size: 19.2px;
                        font-weight: 300;
                        color: white;
                        text-align: left;
                        max-width: 362px;
                    }
                }
                img{
                    width: 100%;
                    transition: 0.2s ease-in-out;
                   
                    &:hover {
                        scale: 0.9;
                        filter: opacity(0.3) drop-shadow(0 0 $salad) ;
                       
                    }

                }

            }

        }
    }
}
.buttons {
    width: 100%;
    background-color:$salad ;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 100px 0;
        h2 {
            color: white;
            font-weight: 700;
            font-size: 32px;

        }
        .buttons
        {
            display: flex;
            gap: 30px;
            justify-content: center;
            .left{
                @include my-button(white,#d3d4d5) ;
                color: black
                
            }
            .right {
                @include my-button(rgb(55,59,62), #424649);
                
            }
        }
    }

}
.map{
    width: 100%;
    height: 30rem;
    iframe {
            pointer-events: none;
            height: 100%;
            width: 100%;
            border: 0;
            }
}

footer {
    width: 100%;
    height: 290px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .links {
            display: flex;
            gap: 10px;
            a{
                width: 64px;
                height: 64px;
                background-color: $salad;
                border-radius: 50%;
                color: white;
                transition: 0.15;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-decoration: none;
               font-size: 30px;
                &:hover{
                    background-color: #155d74;
                }
            }
            .copy-right {
                font-size: 14px;
            }
            
        }

    }
   

}


@media only screen and (max-width: 999px) {
    .services .container .flex-container .flex-item {
        width: 50%;
    }
        
        .portfolio .container .projects .project {
        width: 100%;
        max-width: 530px;
        margin: 0 auto 10px auto;
    }

}

@media only screen and (max-width: 760px) {
    .services .container .flex-container .flex-item {
        width: 100%;
    }
}
